<!DOCTYPE html>
<html lang="en">

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>
</head>


<body>
    <div class="container-fluid">
        <div class=" row">
            <div class=" col-12 text-center fixed-top" style="background-color: #e3f2fd;height:50px;">
                <h5 style="color: #235a76;height:50px;margin-top:10px;font-style:oblique;" class="text-center">Result
                    Management System
                </h5>

            </div>

        </div>
    </div>
    <a type="button" href="/logout" style="margin-top: 60px;margin-left:1150px;"
        class="btn btn-outline-danger">Logout</a>
    <a type="button" href="/S-login" class="btn btn-light"
        style="margin-top: 25px;margin-left:60px;font-size: 15px;color:darkviolet"><i
            class="	fa fa-hand-o-left">back</i></a>


    <div class="container text-center" style="width:600px;margin-top:-50px;">
        <div class="card bg-light text-center" style="height: 380px">
            <div class="card-header">Nagarro Student Result</div>
            <div class="row card-body">
                <div class="fw-bolder col-1 text-center mb-2"><i class="bi bi-person"></i></div>
                <div class="font-monospace col-4 mb-2 text-left">
                    <%=name%>
                </div>
                <div class="font-monospace col-7 mb-2 text-left">
                </div>
                <div class="fw-bolder col-1 text-center mb-2"><i class="bi bi-calendar3"></i>
                </div>
                <div class="font-monospace col-4 mb-2 text-left">
                    <%=date%>
                </div>
                <div class="font-monospace col-4 mb-2 text-left">
                </div>
                <hr>
                <div class="fw-bolder col-2 offset-3 mb-2">Rollno</div>
                <div class="font-monospace col-4  offset-1 mb-2">
                    <%=rollno%>
                </div>
                <div class="fw-bolder col-2 offset-3 text-center mb-2">Name</div>
                <div class="font-monospace col-4 offset-1 mb-2">
                    <%=name%>
                </div>
                <div class=" fw-bolder col-3 offset-3 text-center mb-2">Date of Birth</div>
                <div class="font-monospace col-4 mb-2">
                    <%=date%>
                </div>
                <div class=" fw-bolder col-2 offset-3 text-center mb-2">Score</div>
                <div class="font-monospace col-4  offset-1 mb-2">
                    <%=score%>
                </div>
                <p class="card-text text-center">
                    <% if(JSON.stringify(score)=='100' ){ %>
                        <div class="alert alert-danger" style="font-size:15px;margin-top:15px;text-align: center;"
                            role="alert">
                            Result..... Fail Needs Improvement : <%=success%>

                        </div>
                        <% } %>
                            <% if(JSON.stringify(score)=='200' ){ %>
                                <div class="alert alert-danger"
                                    style="font-size:15px;margin-top:15px;text-align: center;" role="alert">
                                    Result..... Pass But Needs Improvement : <%=success%>

                                </div>
                                <% } %>
                                    <% if(JSON.stringify(score)=='300' ){ %>
                                        <div class="alert alert-primary text-center"
                                            style="font-size:15px;margin-top:15px;text-align:center;width: 500px; margin-left:30px;"
                                            role="alert">
                                            Result...... Pass Above Average : <%=success%>

                                        </div>
                                        <% } %>
                                            <% if(JSON.stringify(score)=='400' ){ %>
                                                <div class="alert alert-success"
                                                    style="font-size:15px;margin-top:15px;text-align: center;"
                                                    role="alert">
                                                    Result..... Pass With A+ Excellent : <%=success%>
                                                </div>

                                                <% } %>

                </p>

            </div>
        </div>
    </div>
</body>

</html>